.App {
  background-color: #1b98c7;
  padding: 20px;
}
.title {
  font-size: 32px;
  margin-bottom: 15px;
}
#board {
  margin: 20px;
  border: 1px solid black;
  background-color: #efefef;
  padding: 10px;
}